---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/astro/Header.astro";
import Hero from "../components/astro/Hero.astro";
import SocialProof from "../components/astro/SocialProof.astro";
import ProblemSolution from "../components/astro/ProblemSolution.astro";
import Features from "../components/astro/Features.astro";
import Architecture from "../components/astro/Architecture.astro";
import HowItWorks from "../components/astro/HowItWorks.astro";
import Audience from "../components/astro/Audience.astro";
import QuickStart from "../components/astro/QuickStart.astro";
import OpenSource from "../components/astro/OpenSource.astro";
import Footer from "../components/astro/Footer.astro";
import { SmoothCursor } from "../components/ui/smooth-cursor";
import "../styles/global.css";
---

<BaseLayout>
	<SmoothCursor client:load />
	<div class="min-h-screen bg-background">
		<Header />
		<main>
			<Hero />
			<SocialProof />
			<ProblemSolution />
			<Features />
			<Architecture />
			<HowItWorks />
			<Audience />
			<QuickStart />
			<OpenSource />
		</main>
		<Footer />
	</div>
</BaseLayout>
